body {

}

#header-nav {
	border: 2px solid black;
	background-color: grey;
	min-height: 70px;
}

.navbar-brand h1 {
	color: black;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 0.75;
}

.navbar-header button.collapsed {
	color: grey;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.navbar-nav {
	margin: 0px -15px 0px -15px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid black;
}

#nav-list {
	text-align: center;
	background-color: white;
}

#nav-list li {
	border: 1px solid black;
}

#nav-list li:hover {
	background-color: red;
}

#nav-list a {
	color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#home-content section {
	background-color: grey;
	min-height: 700px;
	position: relative;
}

section a {
	position: absolute;
	bottom:0;
	right: 10px;
}